---
title: Lab Members
layout: members
group: members
---

<h1>Lab Members</h1>

<hr>
<!-- The paddingtop and margin-top edits allow anchors to link properly. -->
<div class="row">
{% for person in site.data.members %}
    <div id = "{{person.short}}" style="padding-bottom: 30px" class="col-sm-4">
        <img class="img-fluid" src="{{person.image}}" {% if person.altimage %} onmouseover="this.src='{{person.altimage}}';" onmouseout="this.src='{{person.image}}';" {% endif %} alt="{{person.name}}"; width="250"; height="250"><br>
        <strong>{{person.name}}</strong> <br>
        {{person.position}} <br>
        <em>{{person.email}}</em> <br>
        {% if person.twitter %}
          <a href="https://twitter.com/{{person.twitter}}"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
        {% endif %}
        {% if person.bluesky-user %}
        <a href= "https://bsky.app/profile/{{person.bluesky-user}}.{{person.bluesky-domain}}"><img class="inline-block mem-icon" src="/static/img/bluesky_logo.svg"></a>
        {% endif %}
        {% if person.mastodon-user %}
          <a href= "https://{{person.mastodon-domain}}/@{{person.mastodon-user}}"><img class="inline-block mem-icon" src="/static/img/mastodon_logo.svg"></a>
        {% endif %}
        {% if person.orcid %}
        <a href="http://orcid.org/{{person.orcid}}"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
        {% endif %}
        {% if person.linkedin %}
        <a href="http://www.linkedin.com/in/{{person.linkedin}}"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
        {% endif %}
        {% if person.scholar %}
        <a href="http://scholar.google.com/citations?user={{person.scholar}}"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
        {% endif %}
        {% if person.github %}
        <a href="http://github.com/{{person.github}}"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
        {% endif %}
        {% if person.website %}
          <br>
          <a style="overflow-wrap: break-word;" href= "{{person.website}}">{{person.website}}</a> <br>
        {% endif %}
	<!-- <p class="text-justify">{{person.description | markdownify}}</p> -->
    </div>
{% endfor %}
</div>
<h3>Alumni</h3>

<hr>
<div class="row">
{% for person in site.data.alumni %}
    <div id = "{{person.short}}" style="padding-bottom: 30px" class="col-sm-6">
        <strong>{{person.name}}</strong> ({{person.startdate}} - {{person.enddate}})<br>
	{{person.position}} <br>
	<b>Next position:</b> {{person.current}}<br>
	<!-- <p class="text-justify">{{person.description | markdownify}}</p> -->
    </div>
{% endfor %}
</div>
<hr>


<h1>Lab photos</h1>

<hr>
<div class="row">
    <div style="padding-bottom: 30px" class="col-md-6">
        <img class="img-fluid" src="{{ site.url }}/static/img/news/20241120_group.jpg" alt="A picture with all the members of the lab (2024)">
    </div>
    <div style="padding-bottom: 30px" class="col-md-6">
        <img class="img-fluid" src="{{ site.url }}/static/img/news/20240426_group_smaller.jpg" alt="A picture with all the members of the lab (2024)">
    </div>
    <div style="padding-bottom: 30px" class="col-md-6">
        <img class="img-fluid" src="{{ site.url }}/static/img/news/20230524_group.jpg" alt="A picture with all the members of the lab (2023)">
    </div>
    <div style="padding-bottom: 30px" class="col-md-6">
        <img class="img-fluid" src="{{ site.url }}/static/img/news/20210928_group.jpg" alt="A picture with all the members of the lab (2021)">
    </div>
</div>
